<div class="index-section {{ section_class }}">
  <div class="page-width{% if block.settings.narrow_column %} page-width--narrow{% endif %} text-{{ block.settings.align_text }}">
    {%- if block.settings.title != blank -%}
      <p class="h2">
        {{ block.settings.title | escape }}
      </p>
    {%- endif -%}
    {%- if block.settings.text != blank -%}
      <div class="rte">
        {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
          {{ block.settings.text }}
        {%- if block.settings.enlarge_text %}</div>{% endif -%}
      </div>
    {%- endif -%}
  </div>
</div>
